<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>Bandersnatch</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/colors.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    {% block scripts %}
    {% endblock %}
</head>
<body>
<header>
    <h1><a href="/">Bandersnatch</a></h1>
</header>
<nav>
    <ul>
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('data') }}">Data</a></li>
        <li><a href="{{ url_for('view') }}">View</a></li>
        <li><a href="{{ url_for('model') }}">Model</a></li>
    </ul>
</nav>
<article>
    {% block content %}
    {% endblock %}
</article>
<footer><p>Copyright © 2023 BloomTech Labs</p></footer>
</body>
</html>
